@{
    ViewData["Title"] = "Events";
}

<div class="text-center">
    <h1 class="display-4">Welcome to our Zoom</h1>
    <table class="table table-hover table-bordered table-responsive">
        <thead  class="thead-dark">
            <tr>
                <th>Meeting ID</th>
                <th>Meeting Title</th>
                <th>Meeting Date</th>
                <th>Meeting Time</th>
                <th>Meeting Description</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>101</td>
                <td>ASP.NET Webinar</td>
                <td>Wednesday, 12th May 2022</td>
                <td>8.00 PM</td>
                <td>We will discuss about the Asp.net application life cycle and project architecture</td>
                <td>
                    <button class="btn btn-info">View</button>
                    <button class="btn btn-success">Edit</button>
                    <button class="btn btn-danger">Delete</button>
                </td>
            </tr>
            <tr>
                <td>202</td>
                <td>ASP.NET Webinar</td>
                <td>Wednesday, 12th May 2022</td>
                <td>8.00 PM</td>
                <td>We will discuss about the Asp.net application life cycle and project architecture</td>
                <td>
                    <button class="btn btn-info">View</button>
                    <button class="btn btn-success">Edit</button>
                    <button class="btn btn-danger">Delete</button>
                </td>
            </tr>
            <tr>
                <td>303</td>
                <td>ASP.NET Webinar</td>
                <td>Wednesday, 12th May 2022</td>
                <td>8.00 PM</td>
                <td>We will discuss about the Asp.net application life cycle and project architecture</td>
                <td>
                    <button class="btn btn-info">View</button>
                    <button class="btn btn-success">Edit</button>
                    <button class="btn btn-danger">Delete</button>
                </td>
            </tr>
            <tr>
                <td>404</td>
                <td>ASP.NET Webinar</td>
                <td>Wednesday, 12th May 2022</td>
                <td>8.00 PM</td>
                <td>We will discuss about the Asp.net application life cycle and project architecture</td>
                <td>
                    <button class="btn btn-info">View</button>
                    <button class="btn btn-success">Edit</button>
                    <button class="btn btn-danger">Delete</button>
                </td>
            </tr>
            <tr>
                <td>505</td>
                <td>ASP.NET Webinar</td>
                <td>Wednesday, 12th May 2022</td>
                <td>8.00 PM</td>
                <td>We will discuss about the Asp.net application life cycle and project architecture</td>
                <td>
                    <button class="btn btn-info">View</button>
                    <button class="btn btn-success">Edit</button>
                    <button class="btn btn-danger">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
